---
# Handlers for server role

- name: Restart sshd
  ansible.builtin.systemd:
    name: ssh
    state: reloaded

- name: Restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart OTEL Collector
  ansible.builtin.command: docker restart otel-collector
  changed_when: true
