---
# Fail2ban installation and configuration

- name: Install fail2ban
  ansible.builtin.apt:
    name: fail2ban
    state: present

- name: Set AbuseIPDB API key from SOPS secrets
  ansible.builtin.set_fact:
    abuseipdb_api_key: "{{ infrastructure_secrets.abuseipdb_api_key | default('') }}"
  when: infrastructure_secrets is defined
  failed_when: false

- name: Configure fail2ban
  ansible.builtin.template:
    src: fail2ban.conf.j2
    dest: /etc/fail2ban/jail.d/rednaw.conf
    mode: '0644'
  notify: Restart fail2ban

- name: Ensure fail2ban is running
  ansible.builtin.systemd:
    name: fail2ban
    enabled: yes
    state: started
