# yaml-language-server: $schema=https://json.schemastore.org/traefik-v2.json
# Redirect www to the apex (app serves the apex).
http:
  routers:
    redirect-www:
      rule: "Host(`www.{{ site_domain }}`)"
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      middlewares:
        - hsts-headers
        - redirect-to-apex
      service: noop@internal

  middlewares:
    redirect-to-apex:
      redirectRegex:
        regex: "^https://www\\.{{ site_domain | regex_escape() | replace('\\', '\\\\') }}(.*)"
        replacement: "https://{{ site_domain }}$1"
        permanent: true
    hsts-headers:
      headers:
        customResponseHeaders:
          Strict-Transport-Security: "max-age=31536000; includeSubDomains"
