# yaml-language-server: $schema=https://json.schemastore.org/traefik-v2.json
# Redirect www and apex of the site zone to the app hostname
http:
  routers:
    redirect-www:
      rule: "Host(`www.{{ site_domain }}`)"
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      middlewares:
        - hsts-headers
        - redirect-to-app
      service: noop@internal
    redirect-apex:
      rule: "Host(`{{ site_domain }}`)"
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      middlewares:
        - hsts-headers
        - redirect-to-app
      service: noop@internal

  middlewares:
    redirect-to-app:
      redirectRegex:
        regex: "^https://(www\\.)?{{ site_domain | regex_escape() | replace('\\', '\\\\') }}(.*)"
        replacement: "https://{{ traefik_redirect_target }}$2"
        permanent: true
    hsts-headers:
      headers:
        customResponseHeaders:
          Strict-Transport-Security: "max-age=31536000; includeSubDomains"
