# SOPS VS Code extension temp files
.decrypted~*

# Terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform/
terraform/crash.log

# Ansible
ansible/.ansible/

# Python
__pycache__/
*.pyc

# Documents scratchpad
docs/attic

.DS_Store

