# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: '3'

tasks:
  deploy:
    desc: "Deploy application (use: task application:deploy -- <WORKSPACE> <APP_ROOT> <SHA> [DEPLOYED_BY])"
    silent: true
    cmds:
      - python3 scripts/application_deploy.py {{.CLI_ARGS}}


  overview:
    desc: "Show image overview with deployment status (use: task application:overview -- <WORKSPACE> <IMAGE_REPO>)"
    silent: true
    cmds:
      - python3 scripts/application_overview.py {{.CLI_ARGS}}
