version: 0.1

log:
  level: info
  formatter: text

storage:
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true

http:
  addr: :5000
  secret: {{ infrastructure_secrets.registry_http_secret }}
  headers:
    X-Content-Type-Options: [nosniff]
    X-Frame-Options: [DENY]
    X-XSS-Protection: [1; mode=block]

auth:
  htpasswd:
    realm: Registry Realm
    path: /auth/htpasswd
