# yaml-language-server: $schema=https://json.schemastore.org/traefik-v2.json
# Domains from iac.yml app_domains (unencrypted).
http:
  routers:
    app-host:
      rule: "Host(`{{ traefik_app_domains | join('`) || Host(`') }}`)"
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      priority: -10
      service: noop@internal
