name: Build and Push Hello World

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

env:
  IMAGE_NAME: milledoni/hello-world

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY_URL }}
          username: ${{ vars.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Extract metadata for multiple tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: registry.rednaw.nl/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch       # branch name
            type=sha                    # short commit SHA
            type=raw,value=latest       # latest tag always points to last successful image

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./iac/apps/hello
          file: ./iac/apps/hello/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
